@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
.icons{
    background-image: url(../imges/icons.svg);
    height: 23px;
    width: 28px;
    display: inline-block;
}
.fb-icon{
    background-position: -4px -218px
}
.tw-icon{
    background-position: -66px -218px;
}
.li-icon{
    background-position: -126px -220px;
}
body {
    margin: 0;
    font-family: 'Belanosima', sans-serif;
}

header {
    background-color: #d6cc09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

header input {
    font-size: 25px;
    background-color: #f5eb27;
    border: 0px solid #f5eb27;
    padding: 10px;
}

header input::placeholder {
    color: #ffffff;
}

.text-white {
    color: white;
}

.section-space {
    padding: 50px 100px;
}

.text-menu {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 25px;
}

.text-menu:hover,
.active {
    color: black;
    background-color: #c2c1a9;
}

/* 1banner*/
.text-banner {
    background-color: #f5eb27;
    display: flex;
    align-items: center;
}

.banner-text {
    flex: 1;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
}

.img-petBlack {
    width: 350px;
    filter: drop-shadow(2px 2px 2px gray);
}

.banner-text p {
    font-size: 30px;
    line-height: 34px;
    margin-top: -25px;
}

.btn-contactus {
    background-color: #00bec9;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
}

.btn-ourservice {
    margin: 8px;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
}

.btn-ourservice:hover {
    background-color: #00bec9;
    border: 1px solid #00bec9;
}

.text-title {
    font-size: 70px;
}


/* 2banner */
.text-banner2 {
    background-color: white;
    padding: 80px 100px;
    display: flex;
    align-items: center;
}

.banner2-text {
    flex: 1;
}

.banner2-text h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 72px;
}

.banner2-text p {
    font-size: 30px;
    line-height: 34px;
    margin-top: -25px;
}

.btn-ourservice2 {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f5eb27;
    font-size: 25px;
}



.img-backman {
    width: 300px;
}

.p-box{
    height: 125px;
    width: 145px;
    background-color: #d6cc09;
    position: relative;
    top: 183px;
    left: 125px;
}
/* 3banner */
.text-banner3 {
    padding: 50px 100px;
    background-color: #f5eb27;
    text-align: center;
}

.doctor-title h1 {
    font-size: 65px;
    font-weight: 600;
}

.doctor-title p {
    font-size: 30px;
    line-height: 34px;
    margin-top: -30px;
    padding-bottom: 50px;
}

.doctor-img {
    display: inline-block;
}

.pet-doctor {
    width: 339px;
    border: 2px solid white;
    margin-left: 8px;
    border-radius: 5px;
}

.doctor-img h1 {
    font-size: 40px;
}

.doctor-img p {
    font-size: 25px;
}

/**/

.text-banner4 {
    background-color: white;
    display: flex;
    align-items: center;
}

.text-banner4 .banner4-text h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 72px;
}

.banner4-text p {
    font-size: 30px;
    line-height: 34px;
    margin-top: -25px;
}

.text-right {
    text-align: right;
    flex: 1;
}

.video-play {
    width: 420px;
    height: 450px;
    z-index: 1;
}
.p-box1{
    height: 125px;
    width: 145px;
    background-color: #d6cc09;
    position: relative;
    top: 183px;
    left: -120px;
}

/*banner5*/
.dog-banner5 {
    background-color: #f5eb27;
    text-align: center;
}

.text-bannertitle h1 {
    font-size: 65px;
    font-weight: 600;

}

.text-bannertitle p {
    font-size: 30px;
    line-height: 34px;
    margin-top: -30px;
    padding-bottom: 50px;
}

.banner-dogCz {
    display: inline-block;
}

.dog-cz {
    width: 330px;
    border: 2px solid white;
    margin-right: 15px;
    border-radius: 5px;
}

.banner-dogCz p {
    font-size: 30px;
}

.banner-dogCz p del {
    margin-right: 20px;
}

.banner-dogCz a {
    background-color: #00bec9;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 25px;
}

/*banner6*/
.text-banner6 {
    background-color: #ffffff;
    text-align: center;
}

.doctors-title h1 {
    font-size: 65px;
    font-weight: 600;
}

.doctors-title p {
    font-size: 30px;
    line-height: 34px;
    margin-top: -30px;
    padding-bottom: 50px;
}

.doctors-images {
    width: 330px;
    margin-right: 10px;
    border-radius: 5px;
}

.table-height {
    height: 400px;
    overflow: auto;
}
.instagram-icon{
    background-position: -96px -219px;
}

/*banner7*/
.text-banner7 {
    background-image: url(../imges/bg.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-deatils {
    display: inline-block;

}

.client-deatils h1 {
    font-size: 45px;
    margin-right: 115px;
}

.client-deatils h2 {
    font-size: 35px;
    margin-right: 75px;
}

.recent-dog {
    display: inline-block;
}

.recent-dog h1 {
    font-size: 30px;
    padding: 0px 30px;
    text-align: left;
}

.text-date {
    text-transform: uppercase;
    text-align: left;
    color: #00bec9;
    padding: 0px 30px;
}

.text-description {
    text-align: justify;
    padding: 0px 24px;
}

.read-more {
    text-align: left;
    color: #00bec9;
    padding: 0px 24px;
    text-decoration: none;
    margin-left: -220px;
}

.shadow-set {
    box-shadow: 2px 2px 3px 0px gray;
}

.doctors-recent {
    width: 350px;
    border-radius: 1px;
}

/*footer*/
.text-footer {
    background-color: #3b3c3d;
}

.li-block {
    display: inline-block;
    margin-right: 150px;
}

footer input {
    font-size: 15px;
    background-color: #f5eb27;
    border: 0px solid #f5eb27;
    padding: 10px;
}

.text-titlef {
    text-align: right;
}