<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table | Form</title>
</head>
<body>
    <div class="table-height">
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            <tbody>
                <tr>
                    <td rowspan="2">1</td>
                    <td>Nandakisore</td>
                    <td>Vishwanth</td>
                    <td>nandakishore695@gmail.com</td>
                </tr>
                <tr>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td colspan="3">4</td>
                </tr>
            </tfoot>
            </thead>
        </table>
    </div>
</body>
</html>