<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/assets/tableform.css">
    <title>Table | Form</title>
</head>

<body>
    <section class="form-page">
        <form>
            <div>
                <label>Name</label>
                <input type="text" placeholder="Enter your name">
            </div>
            <div>
                <label>Email</label>
                <input type="eamil" placeholder="Enter your email">
            </div>

            <div>
                <label>Phone</label>
                <input type="tel" placeholder="Enter your number">
            </div>
            <label>Age</label>
            <input type="number" placeholder="Enter your number">

            <label>Date Of Brith</label>
            <input type="date" placeholder="Enter your number">

            <label>Select State</label>
            <select>
                <optgroup label="South India">
                    <option>TS</option>
                    <option>AP</option>
                    <option>kT</option>
                    <option>TN</option>
                    <option>KL</option>
                </optgroup>
                <optgroup label="North India">
                    <option>UP</option>
                    <option>MP</option>
                    <option>JK</option>
                    <option>BI</option>
                    <option>RJ</option>
                </optgroup>
            </select>

            <label>Password</label>
            <input type="password" placeholder="Enter your password">

            <label>Select Subject</label>
            <label><input type="checkbox">HTML</label>
            <label><input type="checkbox">CSS</label>
            <label><input type="checkbox">JAVASCRIPT</label>

            <label>Select Gender</label>
            <label><input type="checkbox">Male</label>
            <label><input type="checkbox">Female</label>
            <label><input type="checkbox">Other</label>

            <label>Resume</label>
            <input type="file">

            <label>Description</label>
            <textarea type="text" placeholder="Enter min 25 characters"></textarea>

            <button type="submit">Submit</button>

        </form>
    </section>
    <section class="table-height">
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            <tbody>
                <tr>
                    <td rowspan="2">1</td>
                    <td>Nandakisore</td>
                    <td>Vishwanth</td>
                    <td>nandakishore695@gmail.com</td>
                </tr>
                <tr>
                    <td>Nandakisore</td>
                    <td>Vishwanth</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Harshid</td>
                    <td>Pujari</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Akshay</td>
                    <td>Diwan</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Koush</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Naveen</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Naveen</td>
                    <td>Diwan</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Bajran</td>
                    <td>Jyoti</td>
                    <td>vihan@gmail.com</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Vihan</td>
                    <td>Meghraj</td>
                    <td>vihan@gmail.com</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td colspan="3">4</td>
                </tr>
            </tfoot>
            </thead>
        </table>
    </section>

</body>

</html>