<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarPol</title>
    <link rel="styleSheet" href="../assets/assets/style.css">

</head>

<body>
    <a href="./index.html">Home</a>
    <a href="https://www.youtube.com/watch?v=E0d-j2Wd0vw" target="_blank"  class="video-clip">Video</a>

    <a href="./about.html" class="about-us">About Us</a>
    <a href="#"class="blog-section">Blog</a>


    <h1 class="text-header">Honda Bike</h1>
    <h1 id="Text-msg">This is a Activa</h1>
    <p class="text-content">Honda Motorcycle & Scooter India Pvt. Ltd. (HMSI) is the wholly-owned subsidiary of Honda
        Motor Company, Japan –
        the World’s No.1 two-wheeler company. Commencing its Indian 2Wheeler operations in May 2001, Honda in the last
        two decades has grown to become India’s 2nd largest two-wheeler company with over 55 million happy customers.
    </p>
    <img src="../assets/imges/activa.png" class="activa-img">
    <img src="../assets/imges/activa.png" class="activa-img">
    <p class="text-highlight">Honda Motorcycle & Scooter India launches OBD2 compliant 2023 Unicorn
        New Delhi, June 14, 2023 </p>
    <h2>First letter in upper</h2>

    <p class="text-upper">Honda Motorcycle & Scooter India launches OBD2 compliant 2023 Shine 125</p>
    <h2>First letter in lower</h2>

    <p class="text-lower">HONDA MOTORCYCLE & SCOOTER INDIA LAUNCHES OBD2 COMPLIANT 2023 SHINE 125</p>
    <h2>First letter in capital</h2>
    <p class="text-capital">honda 2Wheelers India dreams of a society where the people enjoy a collision free mobile
        society, enjoy sharing the road and confidently ride the vehicles. We are committed in identifying and
        implementing activities that can make everyone aware about road safety.</p>
</body>

</html>