<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pet | Home</title>
    <link rel="styleSheet" href="../../assets/assets/petsProjects.css">
</head>

<body>
    <header>
        <img src="../../assets/imges/logo.png" alt="logo">
        <nav>
            <a href="#" class="text-menu active">Home</a>
            <a href="#" class="text-menu">About</a>
            <a href="#" class="text-menu">Service</a>
            <a href="#" class="text-menu">Contact</a>
        </nav>
        <input placeholder="Search..">
    </header>

    <section class="text-banner section-space">
        <div class="banner-text text-white">
            <h1>First I wanted to be <br>a veterinarian</h1>
            <p>Lorem Ipsum available but the majority have<br>suffered alteration in some form, by
                injected<br>humour
                randomised words.</p>
            <a href="#" class="btn-contactus text-white">Contact Us</a>
            <a href="#" class="btn-ourservice text-white">Our Service</a>
        </div>
        <img class="img-petBlack" src="../../assets//imges/banner-img.png" alt="pet">
    </section>

    <section class="text-banner2 section-space">
        <div class="banner2-text">
            <h1>As a veterinarian and <br>lover of animals.</h1>
            <p>Lorem ipsum available but the majority<br>suffered alteration in some form, by<br>humour
                randomised words.
            </p>
            <a href="#" class="btn-ourservice2 text-white">Our Service</a>
        </div>
        <iframe class="video-play" src="https://www.youtube.com/embed/07d2dXHYb94" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </section>

    <section class="text-banner3 section-space">
        <div class="doctor-title text-white">
            <h1>Title Here</h1>
            <p>Lorem ipsum available but the majority have<br>suffered alteration in some form.</p>
        </div>
        <div class="doctor-img text-white">
            <img class="pet-doctor" src="../../assets/imges/pet1.avif" alt="backman">
            <h1>Veterinarian</h1>
            <p>Lorem ipsum available but <br>the majority have <br> suffered alteration in some.</p>
        </div>
        <div class="doctor-img text-white">
            <img class="pet-doctor" src="../../assets/imges/pet2.avif" alt="backman">
            <h1>Vaccination Care</h1>
            <p>Lorem ipsum available but <br>the majority have <br> suffered alteration in some.</p>
        </div>
        <div class="doctor-img text-white">
            <img class="pet-doctor" src="../../assets/imges/pet3.avif" alt="backman">
            <h1>Dental Care</h1>
            <p>Lorem ipsum available but <br>the majority have <br> suffered alteration in some.</p>
        </div>
        </div>
    </section>

    <section class="text-banner4 section-space">
        <iframe class="video-play" src="https://www.youtube.com/embed/07d2dXHYb94" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="banner4-text text-right">
            <h1>As a veterinarian and <br>lover of animals</h1>
            <p>Lorem ipsum available but the majority<br>suffered alteration in some form, by<br>humour
                randomised words.
            </p>
            <a href="#" class="btn-ourservice2 text-white">Our Service</a>
        </div>
    </section>

    <section class="dog-banner5 section-space">
        <div class="text-bannertitle text-white">
            <h1>Title Here</h1>
            <p>Lorem ipsum available but the majority have<br>suffered alteration in some form.</p>
        </div>
        <div class="banner-dogCz text-white">
            <img class="dog-cz" src="../../assets/imges/dogCz1.jpg" alt="dogCz">
            <p> <del>$50</del>$30</p>
            <a href="#">Buy Now</a>
        </div>
        <div class="banner-dogCz text-white">
            <img class="dog-cz" src="../../assets/imges/dogCz2.jpg" alt="dogCz">
            <p><del>$40</del> $25</p>
            <a href="#">Buy Now</a>
        </div>
        <div class="banner-dogCz text-white">
            <img class="dog-cz" src="../../assets/imges/dogCz3.jpg" alt="dogCz">
            <p><del>$45</del> $20</p>
            <a href="#">Buy Now</a>
        </div>
    </section>

    <section class="text-banner6 section-space">
        <div class="doctors-title ">
            <h1>The vetcare team</h1>
            <p>Lorem ipsum available but the majority have<br>suffered alteration in some form.</p>
        </div>
        <div class="doctor-img ">
            <img class="doctors-images" src="../../assets/imges/DC1.webp" alt="backman">
            <h1>Jennifer Mullen</h1>
            <p>VETERINARY</p>
        </div>
        <div class="doctor-img ">
            <img class="doctors-images" src="../../assets/imges/DC2.jpg" alt="backman">
            <h1>Sheeren Collins</h1>
            <p>ADMINISTRATION</p>
        </div>
        <div class="doctor-img ">
            <img class="doctors-images" src="../../assets/imges/DC3.jpg" alt="backman">
            <h1>Awa Muaen</h1>
            <p>VETERINARY</p>
        </div>
        </div>
    </section>

    <section class="text-banner7 text-white section-space">
        <div class="client-deatils">
            <h2>+34793</h2>
            <h1>Happy Clients</h1>
        </div>
        <div class="client-deatils">
            <h2>+45382</h2>
            <h1>Departament</h1>
        </div>
        <div class="client-deatils">
            <h2>+54762</h2>
            <h1>Vaccinations</h1>
        </div>
    </section>

    <section class="text-banner6 section-space">
        <div class="doctors-title ">
            <h1>Recents Posts</h1>
            <p>Lorem ipsum available but the majority have<br>suffered alteration in some form.</p>
        </div>
        <div class="recent-dog shadow-set">
            <img class="doctors-recent" src="../../assets/imges/recent1.jpg" alt="Recent-Dog">
            <h1>As a veterinarian and <br>lover of animals.</h1>
            <p class="text-date">july 09, 2020</p>
            <p class="text-description">Lorem ipsum available but the majority have<br>suffered alteration in some word
                which looks.</p>
            <p class="read-more">Read More+</p>
        </div>
        <div class="recent-dog shadow-set">
            <img class="doctors-recent" src="../../assets/imges/recent2.jpg" alt="Recent-Dog">
            <h1>As a veterinarian and <br>lover of animals.</h1>
            <p class="text-date">july 09, 2023</p>
            <p class="text-description">Lorem ipsum available but the majority have<br>suffered alteration in some word
                which looks.</p>
            <p class="read-more">Read More+</p>
        </div>
        <div class="recent-dog shadow-set">
            <img class="doctors-recent" src="../../assets/imges/recent3.jpg" alt="Recent-Dog">
            <h1>As a veterinarian and <br>lover of animals.</h1>
            <p class="text-date">july 11, 2023</p>
            <p class="text-description">Lorem ipsum available but the majority have<br>suffered alteration in some word
                which looks.</p>
            <p class="read-more">Read More+</p>
        </div>
        </div>
    </section>
    <footer class="text-footer section-space">
        <div class="text-white li-block">
            <h1>About</h1>
            <p>History</p>
            <p>Our Team</p>
            <p>Brand Guidelines</p>
            <p>Terms&Condition</p>
            <p>Privacy Policy</p>
        </div>
        <div class="text-white li-block">
            <h1>Services</h1>
            <p>How to Order</p>
            <p>Our Product</p>
            <p>Order Status</p>
            <p>Promo</p>
            <p>Payment Method</p>
        </div>
        <div class="text-white li-block text-titlef">
            <h1>Title Here</h1>
            <p>Lorem ipsum available but the majority</p>
            <input>
        </div>
    </footer>
</body>

</html>
