<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assest/css/index.css" />
    <title>OTT</title>
</head>

<body>
    <header class="container">
        <div class="header-section">
            <div >
                <img src="../assest/images/dottllogo.png" class="dottllogo" />
            </div> |
            <div class="menulist">
                <nav>
                    <a href="#" class="menu active">Projects</a>
                    <a href="#" class="menu">Staking</a>
                    <a href="#" class="menu">DAO's</a>
                    <a href="#" class="menu">Faq's</a>
                    <a href="#" class="menu">About Us</a>
                </nav>
            </div>
            <button class="authlogout">
                <div class="transactioncount">
                    <span class="walletconnect"> 0xaf....D8f8 </span>
                    <img src="../assest/images/authprofile.png" class="profile-logo"/>
                </div>
                <!-- <div class="transactioncount">
                
            </div> -->
                <div class="notificationcount text-white">3</div>
            </button>
        </div>
    </header>
    <section class="container">
        <div class="bannerproject">
            <div>
                <img src="../assest/images/spiderman.png" alt="spiderman" class="no-select" />
            </div>
            <div class="project-detail">
                <div class=""> 
                    <span class=" text-white project-status ">
                    <span class="icons stauts-green-icon"></span><span>On going</span></span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <h1>Spider Man</h1>
                <h2>Animation Web Series</h2>
                <div class="project-sale">
                    <div>
                        <h3>Pre-Sale Registration</h3>
                        <h4>28-06-2023 00:00</h4>
                    </div>
                    <div>
                        <h3>Pre-Sale Registration</h3>
                        <h4>28-06-2023 00:00</h4>
                    </div>
                </div>
                <button class="plan-buy">Buy Membership</button>
                <div class="carousel-icons" >
                    <span class="carousel-icon bg-active"></span>
                    <span class="carousel-icon"></span>
                    <span class="carousel-icon"></span>
                    <span class="carousel-icon"></span>
                </div>
            </div>
        </div>
        <div class="banner-review">
            <div>
                <h1>$22.09M</h1>
                <p>RAISED CAPITAL</p>
            </div>
            <div>
                <h1> 118+</h1>
                <p>LAUNCHED PROJECTS</p>
            </div>
            <div>
                <h1> $22.09M</h1>
                <p>PROJECTS' VOLUME (30D)</p>
            </div>
            <div>
                <h1> 118+</h1>
                <p> LAUNCHED PROJECTS</p>
            </div>
        </div>
    </section>

    <section class="featured-container">
        <div class="featured">
            <h1>Featured <span>IVOs</span></h1>
            <p>Launchpad, Incubator, Accelerator and Game Development Studio - the best is yet to come!</p>
        </div>

        <div class="featured-caroucel">
            <div>
                <div class="featured-caroucel-detail">
                    <img src="../assest/images/featured-image1.png" />
                    <div class="featured-caroucel-review">
                        <p class="text-white xl">24.82k</p>
                        <p>Fox Movie Channel</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="featured-caroucel-detail">
                    <img src="../assest/images/featured-image2.png" />
                    <div class="featured-caroucel-review">
                        <p class="text-white xl">24.82k</p>
                        <p>Cinemapicha</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="featured-caroucel-detail">
                    <img src="../assest/images/featured-image3.png" />
                    <div class="featured-caroucel-review">
                        <p class="text-white xl">14.82k</p>
                        <p>Movie Blends</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="featured-caroucel-detail">
                    <img src="../assest/images/featured-image4.png" />
                    <div class="featured-caroucel-review">
                        <p class="text-white xl">15.82k</p>
                        <p>Mythri Movies</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-container">
        <div class="featured">
            <h1>Launchpad <span>IVOs</span> Projects</h1>
            <div class="featured-time">
                <strong>Calendar</strong>
                <span class="icons lth-icon"></span>
                <p>Aug 01 - Sep 01 2023 </p>
                <span class="icons gth-icon"></span>
            </div>
        </div>

        <div class="launchpad-container">
            <div class="list-dt">
                <div class="launchpad-dt">
                    <div>
                        <div class="launchpad-dts">
                            <p><strong><span class="icons  stauts-green-icon"></span>24</strong></p>
                            <p>Thu</p>
                        </div>
                        <div class="count-ptr">
                            <span class="launchpad-gCl launchpad-gnum">3</span>
                            <span class="launchpad-oCl launchpad-onum">2</span>
                            <span class="launchpad-pCl launchpad-pnum">2</span>
                        </div>
                    </div>
                </div>
                <div class="launchpad-dt">
                    <span class="launchpad-dts">
                        <p><strong><span class="icons  stauts-green-icon"></span>25</strong></p>
                        <p>Fri</p>
                    </span>
                    <div class="count-ptr">
                        <span class="launchpad-gCl launchpad-gnum">2</span>
                        <span class="launchpad-oCl launchpad-onum">1</span>
                        <span class="launchpad-pCl launchpad-pnum">3</span>
                    </div>
                </div>
                <div class="launchpad-dt">
                    <span class="launchpad-dts">
                        <p><strong><span class="icons  stauts-green-icon"></span>26</strong></p>
                        <p>Sat</p>
                    </span>
                    <div class="count-ptr">
                        <span class="launchpad-gCl launchpad-gnum">5</span>
                        <span class="launchpad-oCl launchpad-onum">1</span>
                        <span class="launchpad-pCl launchpad-pnum">5</span>
                    </div>
                </div>

                <div class="launchpad-dt">
                    <span class="launchpad-dts">
                        <p><strong><span class="icons  stauts-green-icon"></span>27</strong></p>
                        <p>Sun</p>
                    </span>
                    <div class="count-ptr">
                        <span class="launchpad-gCl launchpad-gnum">3</span>
                        <span class="launchpad-oCl launchpad-onum">4</span>
                        <span class="launchpad-pCl launchpad-pnum">1</span>
                    </div>
                </div>
                <div class="launchpad-dt">
                    <span class="launchpad-dts">
                        <p><strong><span class="icons  stauts-green-icon"></span>30</strong></p>
                        <p>Web</p>
                    </span>
                    <div class="count-ptr">
                        <span class="launchpad-gCl launchpad-gnum">1</span>
                        <span class="launchpad-oCl launchpad-onum">3</span>
                        <span class="launchpad-pCl launchpad-pnum">1</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="project-title">
            <strong>Open <span class="project-ivo"> IVOs</span> Projects</strong>
            <button class="project-view c-pointer"><strong>View All</strong></button>
        </div>
        <div class="project-list">
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/logo-t-sires.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon "></span>
                        <span class="icons inst-icon "></span>
                        <span class="icons tel-icon "></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon "></span>
                    </div>
                </div>
                <div><strong>Aquaaman</strong></div>
                <div>
                    <span class="icons stauts-green-icon"></span><span>On going</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/aquaaman.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">Horrors of the Heart is a Hindi movie starring Avika Gor, Rahul Dev,
                        Barkha Bisht, Danish Pandor,
                        Randheer Rai, Ketaki Kulkarni, Amit Behl, and Avtar Gill in prominent.....</p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/logo-pacifi-rim.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon"></span>
                        <span class="icons inst-icon"></span>
                        <span class="icons tel-icon"></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon"></span>
                    </div>
                </div>
                <div><strong>Pacific Rim</strong></div>
                <div>
                    <span class="icons stauts-green-icon"></span><span>On going</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/pacific-rim.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">Disney and Pixar`s "Elemental" is an all-new, original feature film
                        set in Element City, where
                        Fire, Water, Earth and Air-residents live together......
                    </p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/logo-maza-runner.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon"></span>
                        <span class="icons inst-icon"></span>
                        <span class="icons tel-icon"></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon"></span>
                    </div>
                </div>
                <div><strong>The Maze Runner</strong></div>
                <div>
                    <span class="icons stauts-green-icon"></span><span>On going</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/the-maze-runner.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">A plumber named Mario travels through an underground labyrinth with
                        his brother, Luigi, trying to
                        save a captured princess......</p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="project-title">
            <strong>Upcoming <span class="project-ivo"> IVOs</span> Projects</strong>
            <button class="project-view c-pointer"><strong>View All</strong></button>
        </div>
        <div class="project-list">
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/waner-bros.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon "></span>
                        <span class="icons inst-icon "></span>
                        <span class="icons tel-icon "></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon "></span>
                    </div>
                </div>
                <div><strong>Mortal Kombat</strong></div>
                <div>
                    <span class="icons stauts-green-icon"></span><span>Upcoming</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/mortal-kombat.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">Horrors of the Heart is a Hindi movie starring Avika Gor, Rahul Dev,
                        Barkha Bisht, Danish Pandor, Randheer Rai, Ketaki Kulkarni, Amit Behl, and Avtar Gill in
                        prominent.....</p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/dc.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon"></span>
                        <span class="icons inst-icon"></span>
                        <span class="icons tel-icon"></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon"></span>
                    </div>
                </div>
                <div><strong>Arrow CW</strong></div>
                <div>
                    <span class="icons  stauts-green-icon"></span><span>On going</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/arrow-cw.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">Horrors of the Heart is a Hindi movie starring Avika Gor, Rahul Dev,
                        Barkha Bisht, Danish Pandor, Randheer Rai, Ketaki Kulkarni, Amit Behl, and Avtar Gill in
                        prominent.....
                    </p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/logo-the-100.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon"></span>
                        <span class="icons inst-icon"></span>
                        <span class="icons tel-icon"></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon"></span>
                    </div>
                </div>
                <div><strong>The 100</strong></div>
                <div>
                    <span class="icons stauts-green-icon"></span><span>On going</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/the-100.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">A plumber named Mario travels through an underground labyrinth with
                        his brother, Luigi, trying to
                        save a captured princess......</p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="project-title">
            <strong>Ended <span class="project-ivo"> IVOs</span> Projects</strong>
            <button class="project-view c-pointer"><strong>View All</strong></button>
        </div>
        <div class="project-list">
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/logo-magicians.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon "></span>
                        <span class="icons inst-icon "></span>
                        <span class="icons tel-icon "></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon "></span>
                    </div>
                </div>
                <div><strong>The Magicians</strong></div>
                <div>
                    <span class="icons stauts-icon"></span><span>Ended</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/the-magicians.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">Horrors of the Heart is a Hindi movie starring Avika Gor, Rahul Dev,
                        Barkha Bisht, Danish Pandor,
                        Randheer Rai, Ketaki Kulkarni, Amit Behl, and Avtar Gill in prominent.....</p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/logo-helix.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon"></span>
                        <span class="icons inst-icon"></span>
                        <span class="icons tel-icon"></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon"></span>
                    </div>
                </div>
                <div><strong>Helix</strong></div>
                <div>
                    <span class="icons stauts-icon"></span><span>Ended</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/helix.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">Disney and Pixar`s "Elemental" is an all-new, original feature film
                        set in Element City, where
                        Fire, Water, Earth and Air-residents live together......
                    </p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
            <div class="project-cards">
                <div class="project-header">
                    <span>
                        <img src="../assest/images/waner-bros.png" />
                    </span>
                    <div class="sm-icon">
                        <span class="icons fb-icon"></span>
                        <span class="icons inst-icon"></span>
                        <span class="icons tel-icon"></span>
                        <span class="icons disc-icon"></span>
                        <span class="icons inter-icon"></span>
                    </div>
                </div>
                <div><strong>Legacies</strong></div>
                <div>
                    <span class="icons stauts-icon"></span><span>Ended</span>
                    <span class="icons currency-icon"></span><span>USDT</span>
                    <span class="icons syb-icon"></span><span>Matic</span>
                </div>
                <div>
                    <img src="../assest/images/legacies.png" class="project-img" />
                </div>
                <div>
                    <p class="project-discription">A plumber named Mario travels through an underground labyrinth with
                        his brother, Luigi, trying to
                        save a captured princess......</p>
                </div>
                <div class="cast-crew">
                    <div>
                        <p>Cast & Crew</p>
                    </div>
                    <div class="cast-names">
                        <p>Avika Gor,</p>
                        <p>Rahul Dev,</p>
                        <p>Danish Pandor,</p>
                    </div>
                </div>
                <div class="project-total">
                    <label>Total Raise</label>
                    <p>$148,000</p>
                </div>
                <div class="project-price">
                    <label>Price</label>
                    <p>1 ANIM = 0.12 USDT</p>
                </div>
                <div class="public-status text-white">
                    <div>
                        <p>Public Opens</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                    <div>
                        <p>Public Closes</p>
                        <p>2023-08-3 09:00 UTC</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="blockchain-step">
            <div class="step-description">
                <h1 class="blockchain-question">How To Join The
                    <span class="project-ivo">Blockchain</span> Movie
                    Revolution With Us
                </h1>
                <p class="step-content">Only 3 little steps are needed for you to start enjoying all the
                    advantages of DOTT
                </p>
            </div>
            <div class="blockchain-step-screen1">
                <div>
                    <span class="icons purchase-wallet"></span>
                    <h4 class="setp-title"><strong class="steps-title">Purchase DOTT Token</strong></h4>
                    <p>enables its holders to participate
                        in the IVOs, stake and farm
                        for
                        passive income</p>
                </div>
                <div>
                    <span class="icons purchase-token"></span>
                    <h4 class="setp-title"><strong class="steps-title">Stake or Farm your DOTT</strong></h4>
                    <p>Add your DOTT to one of our staking or farming pools and earn passive income</p>
                </div>
                <div>
                    <span class="icons purchase-kyc"></span>
                    <h4 class="setp-title"><strong class="steps-title">Complete KYC</strong></h4>
                    <p>It's a simple step to ensure your participation in the IVOs</p>
                </div>
                <div>
                    <span class="icons purchase-set"></span>
                    <h4 class="setp-title"><strong class="steps-title">You're all set!</strong></h4>
                    <p>Now you can purchase the tokens and NFTs os the best blockchain games</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="apply-now">
            <div>
                <h4 class="setp-title apply-title">Apply For Your <span class="project-ivo">IVOs</span> Project To
                    Launch At DOTT</h4>
                <p>If you have an amazing project that you'd like to launch at DOTT, apply now!</p>
            </div>
            <div class="btn-applynow">
                <button class="apply-btn text-white">Apply Now</button>
            </div>
        </div>
    </section>
    <footer class="container">
        <div class="footer-bar">
            <div>
                <img src="../assest/images/dottllogo.png" />
                <p>OTT typically refers to the delivery of
                    <br />media content over the internet
                    <br />without the involvement of traditional
                    <br />broadcast or cable television providers.
                </p>
                <div class="sm-icon">
                    <span class="icons fb-org-icon"></span>
                    <span class="icons inst-org-icon"></span>
                    <span class="icons tel-org-icon"></span>
                    <span class="icons sdic-org-icon"></span>
                    <span class="icons inter-org-icon"></span>
                </div>
            </div>
            <div>
                <h4>
                    NAVIGATION
                </h4>
                <p>Projects</p>
                <p>Staking</p>
                <p>DAO’s</p>
                <p>Faq’s</p>
                <p>About Us</p>

            </div>
            <div>
                <h4>
                    LEGAL
                </h4>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
                <p>Cookie Preferences</p>
                <p>Corporate Information</p>
            </div>
            <div>
                <h4>
                    TALK TO US
                </h4>
                <p>contact@yellowblock.net</p>
                <p>Ph:+91 8390150032</p>
            </div>
            <div>
                <h4>
                    DOWNLOAD
                </h4>
                <div class="paly-store">
                    <div>
                        <div class="store-title">
                            <span class="icons gpaly-icon"></span>
                            <div>
                                <p>GET IT ON</p>
                                <p>Google Play</p>
                            </div>

                        </div>

                    </div>
                    <div>
                        <div class="store-title">
                            <span class="icons apaly-icon"></span>
                            <div>
                                <p>Download on the</p>
                                <p>Apple Store</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="container">
        <p class="copy-right">2023 DOTT. All rights reserved.</p> 
    </section>
</body>

</html>